@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 229, 229, 229;
  --foreground: rgb(var(--foreground-rgb));
  --background: rgb(var(--background-rgb));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e5e5e5;
    --foreground: #171717;
  }
}

* {
  touch-action: manipulation;
}

.font-schoolbell {
  font-family: "Schoolbell", cursive !important;
  font-weight: 400;
  font-style: normal;
}

.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  width: 100%;
  min-height: 100vh;
  margin: 0;

  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.high-score-badge {
  margin-bottom: -2px;
  position: relative;
  z-index: 2;
}

.high-score-badge:after {
  content: "🏆";
  z-index: 1;
  position: relative;
  top: -1px;
  left: 0px;
}

.snake-dark .high-score-badge:after {
  content: "🏆";
  filter: invert(1);
}

.high-score-badge + div {
  transform: translate(10px, 20px) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
